.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #FFA726;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #FF9800;
  --rdp-background-color-dark: #334155;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
  margin: 1em;
}

.rdp-months {
  display: flex;
  justify-content: center;
}

.rdp-month {
  margin: 0 1em;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--rdp-accent-color);
}

.dark .rdp-day_selected,
.dark .rdp-day_selected:focus-visible,
.dark .rdp-day_selected:hover {
  background-color: var(--rdp-accent-color-dark);
}

.rdp-day_today {
  font-weight: bold;
  color: var(--rdp-accent-color);
}

.dark .rdp-day_today {
  color: var(--rdp-accent-color-dark);
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-background-color);
}

.dark .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-background-color-dark);
}