/* Import Radix UI base styles */
@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* Light theme variables */
.light {
  --background: white;
  --foreground: #0f172a;
  --muted: #f0f9ff;
  --muted-foreground: #64748b;
  --border: #e0f2fe;
  --input: #e0f2fe;
  --primary: #0284c7;
  --primary-foreground: #f0f9ff;
  --secondary: #f0f9ff;
  --secondary-foreground: #0284c7;
  --accent: #f0f9ff;
  --accent-foreground: #0284c7;
  --destructive: #ff0000;
  --destructive-foreground: #f8fafc;
  --ring: #0284c7;
  --radius: 0.5rem;
}

/* Dark theme variables */
.dark {
  --background: #0f172a;
  --foreground: #f0f9ff;
  --muted: #0c4a6e;
  --muted-foreground: #94a3b8;
  --border: #0c4a6e;
  --input: #0c4a6e;
  --primary: #38bdf8;
  --primary-foreground: #0f172a;
  --secondary: #0c4a6e;
  --secondary-foreground: #f0f9ff;
  --accent: #0c4a6e;
  --accent-foreground: #f0f9ff;
  --destructive: #ff0000;
  --destructive-foreground: #f8fafc;
  --ring: #38bdf8;
  --radius: 0.5rem;
}